<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IChqUASettings" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tfs.xinchj.cn:39297/CHQ.UA.WS.ChqUASettings.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChqUASettings"
          contract="UASV.IChqUASettings" name="BasicHttpBinding_IChqUASettings" />
    </client>
  </system.serviceModel>
</configuration>
